:root {
    /* color */
    --main-color: white;
    --second-color: #aaaaaa;
    --padding: 10px 14px; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

button {
    border-style: none;
    background: none;
}


/* HEADER */

header {
    padding: var(--padding);
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;
    color: var(--main-color);
    font-size: 22px;
}

header .header-left  {
    padding-left: 10px
}

header .header-left .fab.fa-youtube {
    color: red;
    padding-left: 10px
}

/* HEADER - center */

header .search {
    display: flex;
    position: relative;
}

header .search .search-box input:focus {
    outline: none;
}

header .search input {
    width: 560px;
    height: 34px;
    background: #121212;
    color: white;
    border: none;
    padding-left: 10px;
}

header .search .keyboard {
    position: absolute;
    right: 120px;
    top: 8px;
    color: white;
}

header .search .search-icon {
    height: 34px;
    width: 60px;
    border-radius: 0 3px 3px 0;
    background: #313131;
    color: white;
}

header .search .search-icon i {
    background: #313131;
}

header .search .microphone {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #121212;
    margin-left: 10px;
    color: white;
}

/* HEADER - right */

.header-right {
    display: flex;
    align-items: center;
}

.header-right .icon i{
    margin: 0 10px;
    font-size: 20px;
}

header .myprofile img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: 4px;
}


/* MAIN - VIDEO */

main {
    display: flex;
    justify-content: center;
    background: #181818;
}

main .videoandinfo {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 24px 24px 0 0;
}

main .video-info .title-meta {
    padding: 20px 0;
    border-bottom: 1px solid rgb(56, 56, 56);
}

main .video-info .title-meta .title {
    font-size: 18px;
}

main .video-info .title-meta .video-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

main .video-info .title-meta .views {
    display: inline-block;    
    font-size: 14px;
    color: #AAAAAA;
}

main .video-info .title-meta .like i {
    margin: 0 10px;
}

main .profile img {
    width: 34px;
    height: 34px;
}

/* subscribe-info */

.subscribe-info {
    font-size: 14px;
}

.subscribe-info .profile-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.subscribe-info .profile-meta .profile-container {
    display: flex;
}

.subscribe-info .profile-container img {
    border-radius: 50%;
    margin-right: 10px;
}

.subscribe-info .profile-container .people {
    font-size: 12px;
    color: #AAAAAA;
    padding-top: 2px;
}

.subscribe-info .subscribe button{
    background: #313131;
    width: 76px;
    height: 40px;
    border-radius: 2px;
    margin: 0 10px
}

.subscribe-info .subscribe i {
    font-size: 20px;
}

.subscribe-info .comment {
    padding: 0 0 20px 42px;
    border-bottom: 1px solid rgb(56, 56, 56);
}

.subscribe-info .comment > div {
    max-width: 614px;
}

.subscribe-info .comment button {
    margin-top: 10px;
    color: #AAAAAA;
}

.subscribe-info .my-comment {
    display: flex;
    margin: 20px 0 20px 0;
    font-size: 16px;
}   

.subscribe-info .my-comment div {
    margin-right: 26px;
}

.subscribe-info .my-comment i {
    margin-right: 6px;
}

.subscribe-info .comment-write {
    display: flex;
    align-items: top;
    position: relative;
}

.subscribe-info .comment-write input {
    position: absolute;
    width: 95%;
    height: 30px;
    margin-left: 24px;
    border-style: none;
    border-bottom: 1px solid #717171;
    background: #181818;
}

.subscribe-info .comment-write input:focus {
    outline: none;
}

.subscribe-info .comment-write .my-profile img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.subscribe-info .comment-button {
    display: flex;
    justify-content: right;
    /* margin-right: 16px; */
}

.subscribe-info .comment-button button {
    width: 80px;
    height: 40px;
}

.subscribe-info .comment-button .yes-bt {
    background: #303030;
    border-radius: 2px;
}

.other-profile {
    display: flex;
}

.other-people-profile img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 20px;
}

.other-profile .name-tag {
    font-size: 12px;
    margin-bottom: 4px;
}

.other-profile .name-tag .time {
    color: #AAAAAA;
}

.other-commnet {
    margin: 4px 0;
}

.other-icon {
    display: flex;
    align-items: center;
    margin: 16px 0 40px 0;
}

.other-icon .thumbs-up {
    display: flex;
    margin-right: 24px;
}

.other-icon .up {
    margin-right: 10px;
}

.other-icon .up-count {
    color: #AAAAAA;
}

.other-icon .down {
    margin-right: 24px;
}

.other-icon .recommnet {
    color: #AAAAAA;
}

/* NEXT_VIDEO */

.next-video {
    max-width: 402px;
    margin-top: 24px;
}

.next-video .next {
    display: flex;
    font-size: 14px;
}

.next-video .next-meta {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #AAAAAA;
}

.next-video .next-meta .name {
    margin: 4px 0;
}

.next-video .next-meta .new-video {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF1A;
    width: 60px;
    height: 20px;
    margin-top: 4px;
    border-radius: 2px;
}

.next-video img {
    max-width: 168px;
}